/* styles.css */

/* Style pour le conteneur principal */
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1000px;
}

/* Style pour chaque compartiment encadré */
.box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px); /* Pour répartir les compartiments sur la largeur */
    box-sizing: border-box;
}

/* Style pour le bouton de soumission */
.btn-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}
